 <div class="user-details">
  <h1>About Me</h1>
  <p> {{site.user_description}} </p><br>

  <div class="timeline">
  <div class="container left-container">
    <div class="text-box">
      <h2>ASU, Undergraduate Teaching Assistant</h2>
      <small>May 2021 - Present</small><br>
      <p1>CHM 234, CHM 237</p1>
      <ul class="a">
        <li>Collaborated with faculty and lab technicians, led classes of 20 organic chemistry students in lab, graded assignments for organic chemistry lab and lecture</li>
      </ul>
      <p1>ASU 101-MEE</p1>
      <ul class="a">
        <li>blank</li>
      </ul>
    </div>
  </div>
</div>

<div class="timeline">
  <div class="container right-container">
    <img src=""> 
    <div class="text-box">
      <h2>Intel, Process Engineering Intern</h2>
      <small>Feb. 2022 - Apr. 2023</small><br>
      <p1>company text</p1>
    </div>
  </div>
</div>

<div class="timeline">
  <div class="container">
    <div class="text-box">
      <h2>Amkor</h2>
      <small>Apr. 2023 - Present</small><br>
      <p1>company text</p1>
    </div>
  </div>
</div>

<p2>picture of Ford F-650</p2>
<img src="/assets/img/fordf650.JPG">

</div>
  <div class="user">
    <div class="tech">
      <h3>Design</h3>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h3>Code</h3>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h3>Tools</h3>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
