 <div class="user-details">
  <h1>About Me</h1>
  <p> {{site.user_description}} </p>

  <div class="timeline">
  <div class="container left-container">
    <div class="text-box">
      <h2>blank</h2>
      <small>year - year</small><br>
      <p1>company text</p1>
    </div>
  </div>
</div>

<div class="timeline">
  <div class="container right-container">
    <img src=""> 
    <div class="text-box">
      <h2>blank</h2>
      <small>year - year</small>
      <p>company text</p>
    </div>
  </div>
</div>

<div class="timeline">
  <div class="container">
    <div class="text-box">
      <h2>blank</h2>
      <small>year - year</small>
      <p>company text</p>
    </div>
  </div>
</div>




</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
