<div class="user-details">
  <h1>Education</h1>
  <div class="timeline">
  <div class="container left-container">
    <div class="text-box">
      <h2>Arizona State University</h2>
      <small>Aug. 2019 - May 2023</small><br>
      <p1>B.S.E., Chemical Engineering</p1>
      <ul class="a">
        <li>Undergraduate Teaching Assistant (UGTA), Grader, American Institute of Chemical Engineers (AIChE), and eSports Association</li>
      </ul>
      <span class="left-container-arrow"></span>
    </div>
  </div>
</div>

<div class="timeline">
  <div class="container right-container">
    <div class="text-box">
      <h2>Arizona State University</h2>
      <small>Aug. 2022 - May 2023</small><br>
      <p1>M.S. Materials Science and Engineering</p1>
      <span class="right-container-arrow"></span>
    </div>
  </div>
</div>

