<div class="user-details">
  <h1>Work Experience</h1>
  <div class="timeline">
  <div class="container left-container">
    <div class="text-box">
      <h2>Arizona State University</h2>
      <small>May 2021 - May 2023</small><br>
      <p1>CHM 234 and CHM 237 Teaching Assistant</p1>
      <ul class="a">
        <li>Collaborated with faculty and lab technicians, led classes of 20 organic chemistry students in lab, graded assignments for organic chemistry lab and lecture</li>
      </ul>
      <p1>ASU 101-MEE Section Leader</p1>
      <ul class="a">
        <li>Led a class of 20 mechanical engineering freshmen</li>
          <li>Facilitated student participation in extracurricular activities–undergraduate research, student organizations, etc.</li>
      </ul>
      <p1>CHE 352 Teaching Assistant</p1>
      <ul class="a">
        <li>Assisted students with their laboratory experiments and classwork and provided supplementary instruction after class</li>
      </ul>
      <span class="left-container-arrow"></span>
    </div>
  </div>
</div>

<div class="timeline">
  <div class="container right-container">
    <div class="text-box">
      <h2>Intel</h2>
      <small>Feb. 2022 - Apr. 2023</small><br>
      <p1>Epitaxy Process Engineering Intern</p1>
      <span class="right-container-arrow"></span>
    </div>
  </div>
</div>

<div class="timeline">
  <div class="container left-container">
    <div class="text-box">
      <h2>Amkor</h2>
      <small>Apr. 2023 - Present</small><br>
      <p1>Intern</p1>
      <span class="left-container-arrow"></span>
    </div>
  </div>
</div>

<div class="user-details">
  <div class="user">
    <div class="tech1">
      <h3>Software</h3>
      <i class="fas fa-file-excel" style="color:#186e40"></i>
      <p>Microsoft Office: Excel, Teams, Outlook, OneDrive<br>DaVinci Resolve, SAP<br></p>
    </div>
    <div class="tech2">
      <h3>Front-End</h3>
      <i class="fa-brands fa-html5" style="color: #e54c21;"></i>
      <i class="fa-brands fa-css3-alt"></i>
      <p>HTML and CSS</p>
</div>
